body {
  font-family: "Roboto Mono", monospace;
}

a,
a:visited,
a:active {
  color: inherit;
  transition: font-size 0.15s ease;
}

a:hover {
  font-size: calc(1em + 2px);
  transition: font-size 0.15s ease;
}

.App {
  margin: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-child {
  display: flex;
  flex-direction: column;
}

.header-child#middle {
  text-align: center;
}

.header-child#end {
  text-align: right;
}

